@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
}

button { 
  outline: none;
  border: none;
  border-radius: 6px;
}